#
# Copyright SecureKey Technologies Inc. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#
name: build
on:
  push:
  pull_request:
jobs:
  publish:
    name: Publish images and packages
    if: github.event_name == 'push' && (github.repository == 'trustbloc/agent-sdk' && github.ref == 'refs/heads/master')
    runs-on: ubuntu-18.04
    timeout-minutes: 10
    steps:
      - name: Setup Go 1.15
        uses: actions/setup-go@v2
        with:
          go-version: 1.15
        id: go

      - name: Setup Node.js
        uses: actions/setup-node@v1.4.0
        with:
          node-version: 12.14.x
          registry-url: "https://npm.pkg.github.com"

      - uses: actions/checkout@v2

      - name: Publish npm packages
        working-directory: ./cmd/aries-js-worker
        run: |
          npm install
          npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
